services/.DS_Store
services/Users/.DS_Store
.venv/
services/Workouts/.DS_Store
services/Weights/.DS_Store
services/Users/UserSite/.DS_Store

services/Users/UserSite/__pycache__/wsgi.cpython-311.pyc
services/Users/UserSite/__pycache__/settings.cpython-311.pyc
services/Users/UserSite/__pycache__/__init__.cpython-311.pyc
services/Users/UserSite/__pycache__/urls.cpython-311.pyc
services/Weights/WeightSite/__pycache__/__init__.cpython-311.pyc
services/Weights/WeightSite/__pycache__/settings.cpython-311.pyc
services/Weights/WeightSite/__pycache__/urls.cpython-311.pyc
services/Weights/WeightSite/__pycache__/wsgi.cpython-311.pyc
services/Workouts/WorkoutSite/__pycache__/wsgi.cpython-311.pyc
services/Workouts/WorkoutSite/__pycache__/urls.cpython-311.pyc
services/Workouts/WorkoutSite/__pycache__/__init__.cpython-311.pyc
services/Workouts/WorkoutSite/__pycache__/settings.cpython-311.pyc
